In [1]:
import numpy as np

In [2]:
my_array = np.random.rand(3)

In [3]:
my_array

array([0.16316099, 0.332906  , 0.63717158])

In [4]:
import pandas as pd

In [13]:
pd_series=pd.Series(my_array,index=['First','Second','Third'])

In [14]:
pd_series

First     0.163161
Second    0.332906
Third     0.637172
dtype: float64

In [15]:
array_2d=np.random.rand(3,2)

In [16]:
array_2d

array([[0.40789511, 0.28388383],
       [0.36909778, 0.67670114],
       [0.60127305, 0.59012791]])

In [17]:
df = pd.DataFrame(array_2d)

In [18]:
df

          0         1
0  0.407895  0.283884
1  0.369098  0.676701
2  0.601273  0.590128

In [19]:
df.columns = ['First','Second']

In [20]:
file = pd.read_csv('countries.csv',nrows=5)

In [21]:
file

       country continent  year  lifeExpectancy  population  gdpPerCapita
0  Afghanistan      Asia  1952          28.801     8425333    779.445314
1  Afghanistan      Asia  1957          30.332     9240934    820.853030
2  Afghanistan      Asia  1962          31.997    10267083    853.100710
3  Afghanistan      Asia  1967          34.020    11537966    836.197138
4  Afghanistan      Asia  1972          36.088    13079460    739.981106

In [22]:
import os

In [24]:
df.to_pickle(os.path.join('..','data_frame.pickle'))

In [26]:
os.getcwd()

'C:\\Users\\pranitv\\Desktop'