In [2]:
import numpy as np
import pandas as pd

In [8]:
from numpy.random import randn

In [9]:
np.random.seed(101)

In [23]:
df.drop('new',axis=1,inplace=True)

In [25]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [29]:
df['states'] = "CA HT PH NO NY".split()

In [35]:
df.set_index('states',inplace=True)

In [36]:
df

               w         x         y         z
states
CA      2.706850  0.628133  0.907969  0.503826
HT      0.651118 -0.319318 -0.848077  0.605965
PH     -2.018168  0.740122  0.528813 -0.589001
NO      0.188695 -0.758872 -0.933237  0.955057
NY      0.190794  1.978757  2.605967  0.683509

In [37]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [38]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [41]:
df.index.names=['Groups','Num']

In [40]:
df.loc['G1'].loc[3]['A']

-0.13484072060601238

In [42]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502

In [3]:
d={'A':[1,np.nan,5],'B':[2,np.nan,np.nan],'C':[1,2,3]}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

     A    B  C
0  1.0  2.0  1
1  NaN  NaN  2
2  5.0  NaN  3

In [6]:
df.dropna()

     A    B  C
0  1.0  2.0  1

In [7]:
df.dropna(thresh=2)

     A    B  C
0  1.0  2.0  1
2  5.0  NaN  3

In [8]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    3.0
2    5.0
Name: A, dtype: float64